div {
    display: inline-block;
    margin: 10px;
    outline: 5px solid;
    padding: 20px;
    background-color: rgb(222, 222, 222);
}

.s1 {
    border: 5px solid red;
}

.s2 {
    border: 5px solid;
    border-color: blue green;
}

.s3 {
    border: 5px dashed;
    border-color: red green blue yellow;
}