.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: auto auto;
    align-content: space-between;
    gap: 20px;
}

.grid div {
    background-color: #e91e63;
    color: #FFF;
    display: grid;
    justify-content: center;
    padding: 2px;
}