.assign-3-shape-1,
.assign-3-shape-2,
.assign-3-shape-3,
.assign-3-shape-4 {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    padding: 20px;
    color: white;
    background-repeat: no-repeat;
    background-color: rgb(214, 212, 212);
    background-image: url(../../../../Trash/css-assignment-5-8\ \(1\).png);
}

.assign-3-shape-2 {
    background-repeat: repeat-y ;
    background-position: right;  
}

.assign-3-shape-3 {
    background-repeat: repeat-x ;
    background-position: bottom;
}

.assign-3-shape-4 {
    background-repeat: repeat;
}