.assign-1-shape-1 {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(138 44 226);
    background-color: hsl(271, 77%, 53%);
    background-color: #8a2ce2;
    opacity: 1;
    color: white;
}

.assign-1-shape-2 {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(138 44 226);
    background-color: hsl(271, 77%, 53%);
    background-color: #8a2ce2;
    opacity: 0.5;
    color: white;
}

.assign-1-shape-3 {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(138 44 226);
    background-color: hsl(271, 77%, 53%);
    background-color: #8a2ce2;
    opacity: 0.1;
    color: white;
}