.parent {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    width: 550px;
    height: 250px;
    margin: 30px auto;
    padding-left: 50px;
}

.parent .basic,
.parent .pro,
.parent .line {
    display: inline-block;
    height: 100%;
    margin: 8px;
}

.parent .basic,
.parent .pro {
    background-color: #eeeeee;
    width: 200px;
    margin: 0 10px;
}
 

.parent .type {
    text-align: center;
    width: 80%;
    margin: 20px;
    background-color: #03a9f4;
    color: #FFF;
    padding: 6px 0;
    border-radius: 5px;
}

.parent .price {
    text-align: center;
    font-size: 180%;
    line-height: 155px;
    background-color: #dddddd;
    width: 80%;
    height: 160px;
    margin: 20px;
    box-sizing: border-box;
}

.parent .line {
    position: relative;
    background-color: #03a9f4;
    width: 1px;
    top: 100px;
}

.parent .line .or {
    position: absolute;
    background-color: #03a9f4;
    color: #FFF;
    top: 45%;
    left: -12px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.parent .price,
.parent .line .or {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}